/*************************************************/
/* Global Site Styles and Classes */
/************************************************/

.hidden {
	display: none !important;
}

.block {
	display: block !important;
}

.desktop-block {
	@media screen and (min-width: $tablet-min) {
		display: block !important;
	}
}

.invisible {
	opacity: 0 !important;
}

.nowrap {
	white-space: nowrap;
}

.bg-with-gutter {
	background-size: calc(100% - 80px) 100%;
}

.section-padding {
	padding-top: $section-padding-top;
	padding-bottom: $section-padding-bottom;

	@media screen and (max-width: $tablet-max) {
		padding-top: $section-padding-top-tablet;
		padding-bottom: $section-padding-bottom-tablet;
	}

	@media screen and (max-width: $mobile-max) {
		padding-top: $section-padding-top-mobile;
		padding-bottom: $section-padding-bottom-mobile;
	}
}

.section-padding-top {
	padding-top: $section-padding-top;

	@media screen and (max-width: $tablet-max) {
		padding-top: $section-padding-top-tablet;
	}

	@media screen and (max-width: $mobile-max) {
		padding-top: $section-padding-top-mobile;
	}
}

.section-padding-bottom {
	padding-bottom: $section-padding-bottom;

	@media screen and (max-width: $tablet-max) {
		padding-bottom: $section-padding-bottom-tablet;
	}

	@media screen and (max-width: $mobile-max) {
		padding-bottom: $section-padding-bottom-mobile;
	}
}

.padding-v-50 {
	padding-top: 50px;
	padding-bottom: 50px;
}

.section-gutter {
	padding-left: $section-gutter-left;
	padding-right: $section-gutter-right;

	@media screen and (max-width: $tablet-max) {
		padding-left: $section-gutter-left-tablet;
		padding-right: $section-gutter-right-tablet;
	}

	@media screen and (max-width: $mobile-max) {
		padding-left: $section-gutter-left-mobile;
		padding-right: $section-gutter-right-mobile;
	}
}

.section-gutter-left {
	padding-left: $section-gutter-left;

	@media screen and (max-width: $tablet-max) {
		padding-left: $section-gutter-left-tablet;
	}

	@media screen and (max-width: $mobile-max) {
		padding-left: $section-gutter-left-mobile;
	}
}

.section-gutter-right {
	padding-right: $section-gutter-right;

	@media screen and (max-width: $tablet-max) {
		padding-right: $section-gutter-right-tablet;
	}

	@media screen and (max-width: $mobile-max) {
		padding-right: $section-gutter-right-mobile;
	}
}

.module-content {
	max-width: $max-width;
	margin: 0 auto;

	&.no-max {
		max-width: none;
	}

	@media screen and (max-width: $mobile-max) {
		// max-width: $mobile-med;
	}
}

div.img-overflow {
	position: relative;

	&::before {
		content: '';
		display: block;
		width: 100%;
		padding-top: 100%; //1:1 aspect ratio
	}

	img {
		position: absolute;
		top: 0%;
		left: 0%;
		width: 100%;
		max-width: none;
		pointer-events: none;
	}
}

.display-flex {
	display: flex;

	&.direction-column {
		flex-direction: column;
	}

	&.justify-center {
		justify-content: center;
	}

	&.justify-between {
		justify-content: space-between;
	}

	&.justify-around {
		justify-content: space-around;
	}

	&.justify-start {
		justify-content: flex-start;
	}

	&.justify-end {
		justify-content: flex-end;
	}

	&.align-items-center {
		align-items: center;
	}

	&.align-items-start {
		align-items: flex-start;
	}

	&.align-items-end {
		align-items: flex-end;
	}

	&.flex-wrap {
		flex-wrap: wrap;
	}

	@media screen and (max-width: $mobile-max) {
		&.responsive-row {
			flex-direction: row;
		}

		&.responsive-column {
			flex-direction: column;
		}

		&.responsive-reverse {
			flex-direction: row-reverse;
		}

		&.direction-column.responsive-reverse,
		&.responsive-column.responsive-reverse {
			flex-direction: column-reverse;
		}
	}

	& > .align-self-start {
		align-self: flex-start;
	}

	& > .align-self-center {
		align-self: center;
	}

	& > .align-self-end {
		align-self: flex-end;
	}

	& > .flex-grow {
		flex: 1 !important;
	}
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.w-100 {
	width: 100%;
}

.w-fit {
	width: fit-content;
}

.text-shadow {
	text-shadow: 0 0 30px #000000;
}

.hide-on-desktop,
.desktop-hide {
	@media screen and (min-width: $desktop-min) {
		display: none;
	}
}

.hide-on-mobile,
.mobile-hide {
	@media screen and (max-width: $mobile-max) {
		display: none;
	}
}

.desktop-only {
	display: block !important;

	@media screen and (max-width: $mobile-max) {
		display: none !important;
	}
}

.mobile-only {
	display: none !important;

	@media screen and (max-width: $mobile-max) {
		display: block !important;
	}
}

span.nowrap {
	white-space: nowrap;
}

/* Global Elements */

* {
	box-sizing: border-box;
}

*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	background: $body-background-color;
	overflow-x: hidden;
}

img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
	-ms-interpolation-mode: bicubic;
}

section.module,
div.module.pin-section {
	position: relative;
	max-width: 100%;
	overflow: hidden;
}

button,
a.button,
.button {
	display: inline-block;
	padding: 10px 10px;
	border-radius: 0.25em;
	background-color: transaprent;
	font-family: $primary-font-family;
	color: $white;
	font-size: 0.7em;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
}
