/******************************************/
/* Variables  */
/****************************************/

/* Fonts */
@font-face {
	font-family: 'Roboto Mono';
	src: url('../../../public/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf')
		format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Rubik Bold';
	src: url('../../../public/fonts/Rubik/static/Rubik-Bold.ttf')
		format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Rubik Black';
	src: url('../../../public/fonts/Rubik/static/Rubik-Black.ttf')
		format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Squada One';
	src: url('../../../public/fonts/Squada_One/SquadaOne-Regular.ttf')
		format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Dhurjati';
	src: url('../../../public/fonts/Dhurjati/Dhurjati-Regular.ttf')
		format('truetype');
	font-weight: 400;
	font-style: normal;
}

$primary-font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
$headline-font-family: 'Rubik Bold', Helvetica, Arial, sans-serif;
$headline-ultra-font-family: 'Rubik Black', Helvetica, Arial, sans-serif;
$subhead-font-family: 'Dhurjati', Helvetica, Arial, sans-serif;
$nav-font-family: 'Squada One', Helvetica, Arial, sans-serif;
$logo-font-family: 'Squada One', Helvetica, Arial, sans-serif;

/* Breakpoints, Spacing, and Layout */

$section-padding: 120px;
$section-padding-top: $section-padding;
$section-padding-bottom: $section-padding;
$section-padding-tablet: 60px;
$section-padding-top-tablet: $section-padding-tablet;
$section-padding-bottom-tablet: $section-padding-tablet;
$section-padding-mobile: 30px;
$section-padding-top-mobile: $section-padding-mobile;
$section-padding-bottom-mobile: $section-padding-mobile;

$section-gutter: 90px;
$section-gutter-left: $section-gutter;
$section-gutter-right: $section-gutter;
$section-gutter-tablet: 60px;
$section-gutter-left-tablet: $section-gutter-tablet;
$section-gutter-right-tablet: $section-gutter-tablet;
$section-gutter-mobile: 20px;
$section-gutter-left-mobile: $section-gutter-mobile;
$section-gutter-right-mobile: $section-gutter-mobile;

$desktop-min: 1024px;
$desktop-med: 1200px;
$desktop-lg: 1400px;
$desktop-max: 1600px;

$tablet-min: 768px;
$tablet-med: 896px;
$tablet-max: 1023px;

$mobile-min: 0px;
$mobile: 360px;
$mobile-med: 480px;
$mobile-max: 767px;

$site-min: $mobile;
$max-width: 1800px;

/* Colors */

$white: #ffffff;
$black: #000000;
$light-gray: #c8c8c8;
$med-gray: #ebebeb;
$dark-gray: #414042;

/* Palettes */
$p1-primary-dark: #2b1449;
$p1-primary-light: hsl(224, 47%, 60%);
$p1-accent: hsl(243, 17%, 75%);
$p1-accent-2: hsl(231, 44%, 41%);
$p1-accent-3: #5ecedf;
// $p1-accent-4: hsl(90, 67%, 62%);
$p1-accent-4: hsl(132, 79%, 65%);
$p1-accent-5: hsl(231, 81%, 43%);
$p1-accent-6: hsl(349, 69%, 63%);
$p1-alt-light: hsl(270, 5%, 67%);
$p1-alt-dark: hsl(229, 45%, 17%);
$p1-white: hsl(105, 67%, 96%);

$body-background-color: $black;
$body-color: $white;
$primary-font-color: $white;
/* Mixins */

@mixin heading-font {
	font-family: $headline-font-family;
	font-weight: 700;
}

@mixin boldest-font {
	font-family: $headline-font-family;
	font-weight: 900;
}

@mixin label-font {
	font-family: $subhead-font-family;
	font-weight: 700;
}
