@import '../../styles/global/variables.scss';

.carousel {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	gap: 0;
	animation: fadeInLeft 0.5s ease-in-out forwards;
	.slide-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: calc(100% - (100% / 3));
		background: transparentize($p1-alt-dark, 0.5);
		position: relative;
		.slides {
			width: 100%;
		}
		.controls {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			border-top: solid 2px transparentize($p1-accent-4, 0.8);
			padding: 1rem;
			button {
				background: transparent;
				font-size: 1rem;
				border: solid 2px $white;
				width: 50px;
				height: 50px;
				border-radius: 50%;
				transition: all cubic-bezier(0.23, 1, 0.32, 1) 0.5s;
				&:hover {
					border: solid 2px $p1-accent-4;
					color: $p1-accent-4;
				}
				&:disabled {
					background: transparentize($black, 0.8);
					border: solid 2px transparentize($black, 0.5);
					color: transparentize($black, 0.5);
					cursor: not-allowed;
				}
			}
		}
	}
	.carousel-overview {
		background: transparentize($p1-alt-dark, 0.3);
		padding: 2rem;
		border-radius: 25px 0 0 25px;
		width: calc(100% / 3);
		.year {
			display: inline-block;
			color: $p1-accent-3;
		}
		.description {
			margin-top: 1rem;
			padding-top: 1rem;
			border-top: solid 2px transparentize($white, 0.5);
			font-size: 12px;
			max-height: 350px;
			overflow-y: scroll;
		}
	}
}

// animation keyframes

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: rotateY(5deg);
		border-radius: 25px;
	}
	100% {
		opacity: 1;
		transform: rotateY(0deg);
		border-radius: 0px;
	}
}
