@import '../../styles/global/variables.scss';

.profile_grid {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 1rem;
	height: 100%;
	padding: 1rem 4rem;
	.left,
	.right {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.profile_image {
		border: solid 2px $p1-primary-light;
		border-radius: 25px;
		width: 250px;
		height: 250px;
		img {
			width: 100%;
			border-radius: 25px;
		}
	}
	.content {
		max-width: 100%;
		h3 {
			display: inline-block;
			width: auto;
			padding-bottom: 0.5rem;
		}
	}
}
