@import '../../styles/global/variables.scss';

.profile_grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 'photo bio bio' 'info bio bio';
	gap: 1rem;
	height: 100%;
	padding: 1rem;
	.photo,
	.info,
	.bio {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: transparentize($p1-alt-dark, 0.8);
		border-radius: 25px;
		padding: 1.5rem;
		opacity: 0;
	}
	.photo {
		grid-area: photo;
		animation: fadeInLeft 0.7s 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96)
			forwards;
	}
	.bio {
		grid-area: bio;
		background: transparentize($p1-alt-dark, 0.7);
		animation: fadeInRight 0.7s 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96)
			forwards;
	}
	.info {
		grid-area: info;
		background: linear-gradient(
			45deg,
			transparentize($black, 0.6),
			transparentize($p1-alt-dark, 0.6)
		);
		animation: fadeInUp 0.7s 0.6s cubic-bezier(0.46, 0.03, 0.52, 0.96) forwards;
	}
	.profile_image {
		border-radius: 25px;
		width: 250px;
		height: 250px;
		img {
			width: 100%;
			border-radius: 25px;
		}
	}
	.content {
		max-width: 80%;
		h3 {
			display: inline-block;
			width: auto;
			padding-bottom: 0.5rem;
		}
	}
	// responsiveness
	@media screen and (max-width: $tablet-min) {
		grid-template-columns: 1fr;
		grid-template-areas: 'photo' 'info' 'bio';
		.photo,
		.info,
		.bio {
			width: 100%;
			padding: 1rem;
		}
		.photo {
			animation: fadeInUp 0.7s 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96)
				forwards;
		}
		.bio {
			animation: fadeInUp 0.7s 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96)
				forwards;
		}
		.info {
			animation: fadeInUp 0.7s 0.6s cubic-bezier(0.46, 0.03, 0.52, 0.96)
				forwards;
		}
	}
}

// Animations //

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-20px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translateX(20px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
