@import '../../styles/global/variables.scss';

.card {
	background: transparent;
	border: solid 3px $p1-accent-3;
	border-radius: 18px;
	overflow: hidden;
	padding: 0;
	margin: 0;
	width: 100%;
	transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	cursor: pointer;
	&:hover {
		border: solid 3px $p1-accent-4;
		transform: scale(1.05);
	}
	&.active {
		border: solid 3px $white;
	}
	.content {
		background: transparentize($p1-alt-dark, 0.5);
		width: 100%;
		height: 200px;
		position: relative;
		.image-container {
			height: 200px;
			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			font-size: 12px;
			padding: 1rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			background: transparentize($black, 0.5);
		}
	}
}
