@import '../../styles/global/variables.scss';

.card {
	background: transparent;
	border: solid 2px transparent;
	border-radius: 25px;
	padding: 0;
	margin: 0;
	transition: border 0.2s ease-in-out;
	cursor: pointer;
	&:hover {
		border: solid 2px $p1-accent-4;
	}
	&.active {
		border: solid 2px $p1-accent-4;
	}
	.content {
		background: transparentize($p1-alt-dark, 0.5);
		border-radius: 25px;
		overflow: hidden;
		width: 100%;
		height: 200px;
		position: relative;
		.image-container {
			height: 200px;
			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 25px;
			font-size: 12px;
			padding: 1rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			background: transparentize($p1-alt-dark, 0.5);
		}
	}
}
