@import '../../styles/global/variables.scss';

.card {
	background: transparent;
	border: solid 2px white;
	border-radius: 18px;
	overflow: hidden;
	padding: 0;
	width: 100%;
	height: 200px;
	transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	flex-shrink: 0;
	cursor: pointer;
	.content {
		background: transparentize($p1-alt-dark, 0.5);
		width: 100%;
		height: 200px;
		position: relative;
		.image-container {
			height: 200px;
			transform: scale(1.1);
			transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 1rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			background: linear-gradient(
				45deg,
				transparentize($p1-alt-dark, 0.3),
				transparentize($p1-primary-dark, 0.4)
			);
			.year {
				margin-top: 0.3rem;
			}
		}
	}
	&:hover {
		border-color: $p1-accent-4;
		transform: scale(1.05);
		.image-container {
			transform: scale(1);
		}
	}
	// Themes
	&.blue {
		&:hover {
			border-color: $p1-accent-3;
		}
	}
	&.red {
		&:hover {
			border-color: $p1-accent-6;
		}
	}
}
