@import '../../styles/global/variables.scss';

.grid {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 0;
	.card {
		text-align: center;
		padding: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		border-right: solid 1px transparentize($p1-primary-light, 0.5);
		border-top: solid 1px transparentize($p1-primary-light, 0.5);
		&:nth-child(6n) {
			border-right: none;
		}
		&:nth-child(-n + 6) {
			border-top: none;
		}
		.icon {
			height: 100px;
			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
		.title {
			margin-top: 1rem;
			font-size: 1rem;
		}
	}
}

@media screen and (max-width: $tablet-min) {
	.grid {
		grid-template-columns: repeat(3, 1fr);
		.card {
			padding: 1rem;
			&:nth-child(3n) {
				border-right: none;
			}
			&:nth-child(-n + 3) {
				border-top: none;
			}
		}
	}
}
