/********************************************************/
/* GLOBAL STYLES */
/*******************************************************/

@import 'global/normalize.scss';
@import 'global/variables.scss';
@import 'global/typography.scss';
@import 'global/global.scss';

/********************************************************/
/* SLICK JS STYLES */
/*******************************************************/

@import 'vendor/slick.scss';

/********************************************************/
/* ADDITIONAL STYLES */
/*******************************************************/

html,
body {
	background-color: $body-background-color;
	background-color: #000000;
	opacity: 1;
	background-image: linear-gradient(
			#08081e 1.2000000000000002px,
			transparent 1.2000000000000002px
		),
		linear-gradient(
			to right,
			#08081e 1.2000000000000002px,
			#000000 1.2000000000000002px
		);
	background-size: 20px 20px;
	// background-image: url('/images/grid-bg.png');
	// background-size: cover;
	// background-position: center;
	// background-repeat: no-repeat;
}
