@import '../../styles/global/variables.scss';

a.border {
	background: linear-gradient(45deg, transparent, transparent, $p1-accent-4);
	background-size: 280% 280%;
	background-position: 0% 50%;
	cursor: pointer;
	will-change: transform;
	box-shadow: inset 0 0 0 -3px $p1-accent-4;
	transition: all cubic-bezier(0.75, 1.82, 0.165, 1) 2s,
		background-position ease-in-out 0.5s 0.2s;
	&:hover {
		transition: all cubic-bezier(0.23, 1, 0.32, 1) 0.3s,
			background-position ease-in-out 0.2s;
		transform: translateY(-20px);
		background-position: 50% 50%;
		box-shadow: inset 0 0 0 2px $p1-accent-4;
		.card {
			.title {
				transform: scale(1.1);
			}
		}
	}
}

.wrapper {
	width: calc(25% - 1rem);
	width: 200px;
	height: 150px;
	transition: width cubic-bezier(0.23, 1, 0.32, 1) 0.3s,
		height cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s 0.1s,
		transform cubic-bezier(0.39, 0.575, 0.565, 1) 0.6s;
	-webkit-transition: width cubic-bezier(0.23, 1, 0.32, 1) 0.3s,
		height cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s 0.1s,
		transform cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	transform: translate3d(0, 0, 0) translateY(-80px);
	will-change: width, height, transform;
	&.expanded {
		width: 100%;
		height: 100%;
		transform: translate3d(0, 0, 0) translateY(0);
		.border {
			border-radius: 25px;
			background: linear-gradient(
				45deg,
				$p1-alt-dark,
				$p1-accent-4,
				$p1-accent-2
			);
			position: relative;
			.card {
				border-radius: 25px 25px 0 0;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 4rem;
				background: transparent;
				.title {
					font-size: 2.2rem;
					margin-top: 1rem;
				}
				.description {
					display: block;
				}
			}
			.full-content {
				height: calc(100% - 1.5rem);
				opacity: 1;
				background: transparentize($p1-alt-dark, 0.8);
				padding: 8rem 0 0 0;
				overflow-y: scroll;
				> div {
					height: 100%;
					opacity: 0;
					padding-bottom: 4rem;
					transform: translateY(50px);
					animation: revealPageContent 0.5s 0.5s forwards;
				}
			}
		}
	}
	&.hidden {
		opacity: 0;
		transform: scaleX(0.001);
		position: absolute;
		overflow: hidden;
		pointer-events: none;
	}
	@media (max-width: $tablet-min) {
		width: calc(50% - 1rem);
	}
}

.border {
	display: block;
	background-size: 200% 200%;
	background-position: 0% 50%;
	border-radius: 22px;
	transition: all ease-in-out 0.3s;
	transform: translate3d(0, 0, 0);
	width: 100%;
	height: 100%;
	border: none;
	position: relative;
	.card {
		border-radius: 20px;
		transform: scale(1);
		position: relative;
		overflow: hidden;
		height: 100%;
		width: 100%;
		float: right;
		.content {
			width: 100%;
			height: 100%;
			text-align: center;
		}
		.title {
			background: transparent;
			color: $white;
			font-family: $nav-font-family;
			font-size: 1.6rem;
			line-height: 1.6rem;
			font-weight: 700;
			width: 100%;
			height: 100%;
			text-align: center;
			transition: all cubic-bezier(0.23, 1, 0.32, 1) 0.5s;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.description {
			display: none;
		}
		.full-content {
			border: solid 1px $white;
			border-radius: 25px;
			padding: 1rem;
		}
	}
	.full-content {
		height: 0;
		opacity: 0;
		overflow: hidden;
		margin-top: 0;
		transition: opacity ease-in-out 0.5s 0.2s, transform ease-in-out 0.5s;
	}
	.close {
		position: absolute;
		bottom: 0.6rem;
		left: 50%; /* Center horizontally */
		transform: translateX(-50%); /* Center horizontally */
		width: 2rem;
		height: 2rem;
		background: $white;
		border: none;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0;
		animation: revealCloseButton 0.5s 0.4s forwards;
		svg {
			width: 1rem;
			height: 1rem;
			fill: $p1-accent-2;
		}
		&:hover {
			background: black;
			svg {
				stroke: $white;
			}
		}
	}
}

// animate reveal close button

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes revealCloseButton {
	0% {
		opacity: 0;
		transform: translateY(-50px) translateX(-50%);
	}
	100% {
		opacity: 1;
		transform: translateY(0px) translateX(-50%);
	}
}

@keyframes revealPageContent {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

// animate reveal full
@keyframes revealFull {
	0% {
		width: calc(25% - 1rem);
		height: 350px;
	}
	100% {
		height: 100%;
		width: 100%;
	}
}

@keyframes hideFull {
	0% {
		height: 100%;
		width: 100%;
	}
	100% {
		width: calc(25% - 1rem);
		height: 350px;
	}
}
