@import '../../styles/global/variables.scss';

// Styles related to the min card form exclusively to manage hover effects
a.border {
	background: linear-gradient(45deg, transparent, transparent, $p1-accent-4);
	background-size: 280% 280%;
	background-position: 0% 50%;
	cursor: pointer;
	will-change: transform;
	box-shadow: inset 0 0 0 -3px $p1-accent-4;
	transition: all cubic-bezier(0.75, 1.82, 0.165, 1) 2s,
		background-position ease-in-out 0.5s 0.2s;
	&:hover {
		transition: all cubic-bezier(0.23, 1, 0.32, 1) 0.3s,
			background-position ease-in-out 0.2s;
		transform: translateY(-20px);
		background-position: 50% 50%;
		box-shadow: inset 0 0 0 2px $p1-accent-4;
		.card {
			.title {
				transform: scale(1.1);
			}
		}
	}
	// Media Queries
	@media (max-width: $mobile-max) {
		background: transparent;
	}
}

// full styles for cards in min and max states
.wrapper {
	width: calc(25% - 1rem);
	width: 200px;
	height: 150px;
	border-radius: 10px;
	transition: width cubic-bezier(0.23, 1, 0.32, 1) 0.3s 0.1s,
		height cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s,
		transform cubic-bezier(0.39, 0.575, 0.565, 1) 0.6s,
		background-color ease-in-out 0.3s;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	transform: translate3d(0, 0, 0) translateY(-80px);
	will-change: width, height, transform;
	.border {
		display: block;
		border-radius: 22px;
		transition: all ease-in-out 0.3s;
		transform: translate3d(0, 0, 0);
		width: 100%;
		height: 100%;
		border: none;
		position: relative;
		.card {
			border-radius: 20px;
			transform: scale(1);
			position: relative;
			overflow: hidden;
			height: 100%;
			width: 100%;
			float: right;
			.content {
				width: 100%;
				height: 100%;
				text-align: center;
			}
			.title {
				background: transparent;
				color: $white;
				font-family: $nav-font-family;
				font-size: 1.6rem;
				font-weight: unset;
				line-height: 1.6rem;
				text-transform: uppercase;
				width: 100%;
				height: 100%;
				text-align: center;
				transition: all cubic-bezier(0.23, 1, 0.32, 1) 0.5s;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
		}
	}
	&.max {
		border-radius: 0px;
		width: 100%;
		height: 100%;
		transform: translate3d(0, 0, 0) translateY(0);
		padding: 0.5rem;
		background-color: transparentize($white, 0.5);
		transition: width cubic-bezier(0.23, 1, 0.32, 1) 0.3s,
			height cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s 0.1s,
			transform cubic-bezier(0.39, 0.575, 0.565, 1) 0.6s,
			background-color ease-in-out 0.3s 0.8s;
		.border {
			border-radius: 10px;
			background: linear-gradient(
				45deg,
				transparentize($p1-alt-dark, 0.3),
				transparentize($p1-accent-4, 0.3),
				transparentize($p1-accent-2, 0.3)
			);
			backdrop-filter: blur(10px);
			position: relative;
			.card {
				position: absolute;
				opacity: 0;
				animation: revealFullHeader 0.5s 0.5s forwards;
				border-radius: 10px 10px 0 0;
				width: 100%;
				height: 6.8rem;
				background: none;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;
				z-index: 12;
				.content {
					width: auto;
					height: auto;
				}
				.title {
					color: $white;
					font-size: 2rem;
					margin-top: 0;
					border-radius: 0 0 20px 20px;
					box-shadow: 0 0 20px 0 transparentize($white, 0.5);
					padding: 0.5rem 2rem;
					background: transparent;
					backdrop-filter: blur(10px);
				}
			}
			.full-content {
				padding: 7.8rem 1rem 1rem 1rem;
				transition: opacity ease-in-out 0.5s 0.2s, transform ease-in-out 0.5s;
				display: flex;
				flex-direction: column;
				width: 100%;
				height: 100%;
				opacity: 1;
				background: transparentize($p1-primary-dark, 0.8);
				border-radius: 10px;
				overflow-y: scroll;
				scroll-behavior: smooth;
				> div {
					flex-grow: 1;
					opacity: 0;
					padding-bottom: 3rem;
					transform: translateY(50px);
					animation: revealPageContent 0.5s 0.5s forwards;
				}
			}
			.bottom-bar {
				width: 100%;
				height: 3rem;
				background: $black;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				padding-right: 0.5rem;
				border-radius: 0 0 10px 10px;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				opacity: 0;
				animation: revealBottomBar 0.5s 0.3s forwards;
				.close {
					width: 2rem;
					height: 2rem;
					border: none;
					font-size: 1.5rem;
					line-height: 2rem;
					display: flex;
					justify-content: center;
					align-items: center;
					opacity: 0;
					animation: revealCloseButton 0.5s 0.5s forwards;
					background: $white;
					color: $black;
					background: black;
					color: $white;
					transition: all ease-in-out 0.3s;
					&:hover {
						background: $white;
						color: $black;
					}
				}
			}
		}
	}
	&.hidden {
		opacity: 0;
		transform: scaleX(0.001);
		position: absolute;
		overflow: hidden;
		pointer-events: none;
	}
	//==================================================
	// Media Queries
	//==================================================
	@media (max-width: $tablet-min) {
		width: calc(50% - 1rem);
	}
	@media (max-width: $mobile-max) {
		width: calc(100% - 1rem);
		height: 2.6rem;
		.border {
			border-radius: 5px;
			.card {
				.title {
					font-size: 1.1rem;
				}
			}
		}
		&.max {
			padding: 0;
			.border {
				position: relative;
				border-radius: 0;
				.card {
					position: absolute;
					background: transparent;
					height: auto;
					top: 0;
					border-radius: 0;
					.title {
						font-size: 1.5rem;
					}
				}
				.full-content {
					padding: 5rem 0 0 0;
					border-radius: 0;
				}
				.bottom-bar {
					border-radius: 0;
				}
			}
		}
	}
}

//==================================================
// Animation Keyframes
//==================================================

@keyframes revealFullHeader {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes revealBottomBar {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes revealCloseButton {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}
	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes revealPageContent {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

// animate reveal full
@keyframes revealFull {
	0% {
		width: calc(25% - 1rem);
		height: 350px;
	}
	100% {
		height: 100%;
		width: 100%;
	}
}

@keyframes hideFull {
	0% {
		height: 100%;
		width: 100%;
	}
	100% {
		width: calc(25% - 1rem);
		height: 350px;
	}
}
