@import '../../styles/global/variables.scss';

.header {
	width: calc(100% - 1rem);
	height: 170px;
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	right: 0.5rem;
	z-index: 10;
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	background: linear-gradient(
		180deg,
		transparentize($p1-accent-2, 0.3),
		transparent
	);
	background-blend-mode: overlay;
	border-radius: 10px 10px 0 0;
	transition: all ease-in-out 1s;
	.title {
		width: auto;
		transform: translateZ(200px) skewY(-2deg);
		transition: all ease-in-out 0.2s;
		backface-visibility: hidden;
		transform-style: preserve-3d;
		will-change: transform;
		text-align: center;
		opacity: 0;
		animation: fadeIn 1s 0.8s forwards;
		.inner {
			box-shadow: 0 0 20px 0 transparentize($white, 0.5);
			border-radius: 10px;
			backdrop-filter: blur(10px);
			padding: 0.7rem;
			transition: all ease-in-out 0.5s 0.3s;
		}
		h1,
		h3 {
			transition: all ease-in-out 0.3s;
		}
		h1 {
			font-size: 2rem;
			line-height: 0.9;
			font-weight: 400;
			color: $p1-accent-4;
			text-transform: uppercase;
			padding: 0 6px;
		}
		h3 {
			color: $white;
			font-family: $subhead-font-family;
			font-size: 1.55rem;
			line-height: 1;
			transform: translateY(-3px);
			font-weight: 400;
		}
	}

	.socials {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 2rem;
		opacity: 0;
		transition: all ease-in-out 0.5s 0.2s;
		transform: scale(1) translateZ(200px);
		transform-style: preserve-3d;
		will-change: transform;
		backface-visibility: hidden;
		animation: fadeIn 1s 0.8s forwards;
		a {
			color: $p1-accent-4;
			border: solid 2px transparent;
			font-size: 2rem;
			line-height: 2rem;
			text-align: center;
			width: 2rem;
			height: 2rem;
			transition: all ease-in-out 0.5s 0.3s;
			&:hover {
				color: $white;
				transition: all ease-in-out 0.2s;
			}
		}
	}

	.theme-switcher {
		transition: all ease-in-out 0.4s;
	}

	&.toggled {
		background: none;
		.title {
			transition: all ease-in-out 0.5s 0.3s;
			.inner {
				background: transparent;
				border-color: transparent;
				h1,
				h3 {
					transition: all ease-out 0.5s 0.25s;
				}
				h1 {
					color: $white;
				}
				h3 {
					color: $white;
				}
			}
		}

		.socials {
			a {
				color: $white;
				background: transparent;
				&:hover {
					opacity: 0.8;
				}
			}
		}
		.theme-switcher {
			opacity: 0;
			pointer-events: none;
		}
	}
	// Mobile
	@media screen and (max-width: $mobile-max) {
		transition: all ease-in-out 0.5s;
		width: 100%;
		top: 0;
		left: 0;
		border-radius: 0;
		&.toggled {
			transform: translateY(-100%);
			.theme-switcher {
				display: none;
			}
		}
		.title {
			h1 {
				font-size: 1.4rem;
			}
			h3 {
				font-size: 1.08rem;
			}
		}
		.socials {
			height: 40px;
			a {
				font-size: 1.4rem;
				line-height: 40px;
				width: 40px;
				height: 40px;
			}
		}
	}
	//==================================================
	// themes
	//==================================================
	&.blue {
		.title {
			h1 {
				color: $p1-accent-3;
			}
		}
		.socials {
			a {
				color: $p1-accent-3;
			}
		}
	}
	&.red {
		.title {
			h1 {
				color: $p1-accent-6;
			}
		}
		.socials {
			a {
				color: $p1-accent-6;
			}
		}
	}
}

//==================================================
// animation keyframes
//==================================================
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
