@import '../styles/global/variables.scss';

.canvas-container {
	border-radius: 25px 25px 0 0;
	background-color: black;
	background-image: url('/images/space-bg.png');
	background-size: cover;
	background-position: center;
	margin: 0 1rem;
	height: calc(100vh - 360px);
	width: calc(100% - 2rem);
	max-width: calc($max-width - 2rem);
	transform: translateZ(-100px);
	overflow: hidden;
	position: absolute;
	top: 1rem;
	transition: height ease-in-out 0.3s;
	canvas {
		transform: translateZ(-100px);
		overflow: hidden;
	}
}
