@import '../../styles/global/variables.scss';

.container {
	display: flex;
	flex-wrap: nowrap;
	// gap: 1rem;
	padding: 0 1rem;
	.carousel {
		width: 75%;
	}
	.showcase-nav {
		.showcase-nav-title {
			background: transparentize($p1-alt-dark, 0.1);
			padding: 1rem;
			text-align: center;
			h5 {
				color: $p1-accent-4;
				font-size: 1.5rem;
			}
		}
		.showcase-cards {
			padding: 1rem;
			overflow: hidden;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			gap: 1rem;
		}
		background: transparentize($p1-alt-dark, 0.3);
		border-radius: 0 25px 25px 0;
		overflow: hidden;
		width: 25%;
	}
}
