@import '../../styles/global/variables.scss';

%flex-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	@extend %flex-center;

	.layers {
		background-color: transparent;
		background-size: 1rem 1rem;
		width: 100%;
		max-width: $max-width;
		height: 100%;
		@extend %flex-center;
		box-shadow: 0 0 50px 0 $black;

		.ui-layer,
		.canvas-layer {
			background: transparent;
			width: 100%;
			height: 100vh;
			max-width: $max-width;
			position: relative;
		}

		.hover-headline {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			@extend %flex-center;
			pointer-events: none;
			z-index: 4;
			transition: all ease-in 0.1s;
			h2 {
				font-size: 5rem;
				font-weight: 700;
				color: $white;
				-webkit-text-stroke: 3px $p1-accent-4;
				-webkit-text-fill-color: transparent;
			}
			&.blur {
				-webkit-text-filter: blur(10px);
			}
		}

		.canvas-layer {
			border-radius: 25px;
			background-image: url('/images/sky-bg.png');
			background-size: auto 110%;
			background-position: center top;
			background-repeat: repeat-x;
			margin: 0 1rem;
			height: calc(100% - 2rem);
			width: calc(100% - 2rem);
			max-width: calc($max-width - 2rem);
			transform: translateZ(-100px);
			overflow: hidden;
			position: absolute;
			top: 1rem;
			transition: background-size cubic-bezier(0.19, 1, 0.22, 1) 2s;

			&.zoomed {
				background-size: auto 100%;
			}
		}
	}
}

// Animation //

@keyframes subtleRotation {
	0% {
		transform: translateY(-50%) rotate3d(1, 2, 0, -25deg);
	}
	100% {
		transform: translateY(-60%) rotate3d(1, 2, 0, 25deg);
	}
}
